.calculator-div {
  /* border: 2px solid red; */
  /* height: 500px; */
  display: block;
  width: 100%;
}
.container {
  /* border: 2px solid blue; */
  display: flex;
}
.item {
  max-width: 250px;
  /* border: 2px solid black; */
  width: 70%;
  margin: 100px auto 0px auto;
}
.display-div {
  /* border: 2px solid green; */
  display: flex;
}

.display-div #display {
  width: 80%;
  height: 50px;
}
.display-div #clear {
  width: 30%;

  height: 55px;
  border-radius: 3px;
  border: none;
  margin: 0px 3px;
  /* display: block; */
  background-color: red;
  color: #ffffff;
}
.row {
  width: 100%;
  display: flex;
}
.row input {
  width: 25%;
  margin: 2px;
  height: 50px;
  border-radius: 5px;
  border: none;
}
input[type='button']:hover {
  background-color: var(--main-btn-hover-bg-color, black);
  color: #ffffff;
}
body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, sans-serif;
}
.dark-mode {
  --main-bg-color: rgb(33, 33, 33);
  --main-txt-color: white;
  --main-btn-hover-bg-color: rgb(130, 130, 130);
}
.light-mode {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

label::after {
  content: '☀';
  margin: 0px 0px 0px 5px;
  color: var(--main-txt-color);
  /* font-size: 30px; */
  /* padding: 10px; */
  /* border-radius: 5px; */
  /* background-color: #ddd; */
}
/* #check:checked ~ #label::after {
  content: '☀';
  background-color: rgb(114, 114, 114);
  /* font-size: 30px; *
  color: rgb(255, 255, 255);
  /* padding: 10px; *
  border-radius: 5px;
} */
.icon-div {
  justify-content: space-around;
}
.icon {
  display: flex;
  margin: auto;
  width: 40%;
  min-width: 90px;
  border-radius: 5px;
  /* border: olive 2px solid; */
  font-size: 15px;
  padding: 5px;
  background-color: #ddd;
}
@media (min-width: 0px) and (max-width: 346px) {
  .icon {
    font-size: 13px;
    min-width: 80px;
  }
}
a {
  text-decoration: none;
  color: var(--main-txt-color);
}
.icon img {
  margin: 0px 0px 0px 5px;
}
.icon:hover {
  background-color: var(--main-btn-hover-bg-color, rgb(95, 95, 95));
  color: var(--main-txt-color, #ffffff);
}
.icon img {
  filter: inherit;
}
label {
  margin: 0px;
  padding: 0;
}
footer {
  position: fixed;
  bottom: 0;
  font-size: 15px;
  margin: 0 0 0 10px;
}
